/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.container {
  letter-spacing: 2px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: black;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.tagline {
  background-color: grey;
  margin-bottom: 20px;
  max-width: 700px;
}

.heroImage {
  background-image: url('@site/static/img/puzzle.png');
  background-size: 50% auto;
  background-repeat: repeat;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

/* .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
} */
